<div class="main-header-container">
    <div class="main-header">
        <a href="/" class="logo-link">PCAC</a>
        <nav class="main-navigation">
            <a href="/">Início</a>
            <a href="/sobre">Sobre Nós</a>
            <a href="/vagas">Vagas</a>
            <a href="/vagas/nova_vaga_form" id="btn-contact-header">Publicar Vaga</a>
        </nav>
        
        <button id="mobile-menu-button" class="mobile-menu-toggle" aria-label="Abrir menu">
            ☰
        </button>
    </div>
</div>